body{
    background-image: linear-gradient(90deg, rgba(224, 224, 224, 1) 0%, rgba(255, 255, 255, 1) 100%);
    margin: 20px 100px;
    /*
    margin-top: 20px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
    */
}

img{
    width: 200px;
}


.intro{
    background: rgb(168, 10, 10);
    color: white;
    font-size:24px;
    padding: 25px;

}

.nav { 
    font-size:23px;
    margin-top:50px;
    list-style: none;
    padding-left: 0;

}

.nav li{
    display: inline-block;
}
 
.nav a { 
    color: white;
    background: #dfb2d6;
    padding: 5px;
    text-decoration: none;
    margin: 5px;

}

.nav a:link {
    background-color: pink;
    color: white;
    text-decoration: none;
    padding: 20px;

}

.nav a:visited {
    background-color: rgb(241, 20, 20);


}

.nav a:hoover{
    background-color: blue;
    color: blue;
    text-decoration: underline;

}

#manzana-card{
    margin: 10px;
    padding: 20px;
    background: linear-gradient(0deg,rgb(7, 74, 43) 0%,rgb(174, 234, 191) 100%);
    color: white;
    border-radius: 30px;
}

#chocolate{

    margin: 10px;
    padding: 20px;
    background: linear-gradient(0deg,rgba(159, 97, 55, 0.95) 0%,rgba(160, 96, 51, 0.489) 100%);
    color: white;
    border-radius: 30px;


}
#fresa{
    margin: 10px;
    padding: 20px;
    background: linear-gradient(0deg,rgb(103, 3, 3) 0%,rgba(185, 10, 10, 0.546) 100%);
    color: white;
    border-radius: 30px;

}

